[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock


# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket          = /var/run/mysqld/mysqld.sock
nice            = 0

[mysqld]
#
# * Basic Settings
#
#user           = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc_messages_dir = /usr/share/mysql
lc_messages     = en_US
skip-external-locking
skip-name-resolve

local-infile=0
max_connections = 600000
max_user_connections=100000
key_buffer_size = 1512M
myisam_sort_buffer_size = 164M
read_buffer_size = 33M
table_open_cache = 50000
thread_cache_size = 38400
wait_timeout = 200000
connect_timeout = 100000
tmp_table_size = 556M
max_heap_table_size = 228M
max_allowed_packet = 264M
net_buffer_length = 163845
max_connect_errors = 100000
concurrent_insert = 2
read_rnd_buffer_size = 786432
bulk_insert_buffer_size = 28M
query_cache_limit = 25M
query_cache_size = 228M
query_cache_type = 1
query_prealloc_size = 2621440
query_alloc_block_size = 6553500
transaction_alloc_block_size = 819200
transaction_prealloc_size = 409600
max_write_lock_count = 4294967295
thread_concurrency = 10


external-locking=FALSE
open_files_limit=5000000
innodb-buffer-pool-size = 1456M
innodb_file_per_table=1
innodb_read_io_threads   = 647890
innodb_write_io_threads  = 648790
long_query_time = 100000
innodb_thread_concurrency = 45785
innodb_open_files       = 400000
innodb_io_capacity      = 400000
innodb_flush_method     = O_DIRECT


[mysqld_safe]

[mysqldump]
quick
max_allowed_packet = 16M

[isamchk]
key_buffer = 384M
sort_buffer = 384M
read_buffer = 256M
write_buffer = 256M

[myisamchk]
key_buffer = 384M
sort_buffer = 384M
read_buffer = 256M
write_buffer = 256M

#### Per connection configuration ####
sort_buffer_size = 100M
join_buffer_size = 100M
thread_stack = 100M
